/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,
dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}

body {
    overflow: hidden;
}

#status {
    position: fixed;
    width: 100px;
    height: 20px;
    bottom: 0;
    right: 0;
    z-index: 10000;
}

.monocle {
    width: 850px;
    height: 400px;
    margin: 20px auto;
    background: #ddd url('loading.gif') no-repeat center center;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}
.monocle-controls {
    background-image: url('controls.png');
    background-repeat: no-repeat;
    top: 5px;
    left: 4px;
    z-index: 1000;
    width: 48px;
    height: 122px;
    position: absolute;
}
.monocle-control {
    background-image: url('controls.png');
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    position: absolute;
}
    .monocle-control:focus,
    .monocle-control:active {
        margin-top: 1px;
    }
    .monocle-move-up,
    .monocle-move-right,
    .monocle-move-down,
    .monocle-move-left {
        height: 10px;
        width: 10px;
    }
        .monocle-move-up {
            background-position: -58px 0;
            left: 14px;
            top: 9px;
        }
        .monocle-move-right {
            background-position: -67px -9px;
            left: 23px;
            top: 18px;
        }
        .monocle-move-down {
            background-position: -58px -18px;
            left: 14px;
            top: 27px;
        }
        .monocle-move-left {
            background-position: -49px -9px;
            left: 5px;
            top: 18px;
        }
    .monocle-zoom-in,
    .monocle-zoom-out,
    .monocle-zoom-fit {
        height: 16px;
        width: 16px;
        left: 5px;
    }
        .monocle-zoom-in {
            background-position: -49px -33px;
            top: 52px;
        }
        .monocle-zoom-out {
            background-position: -49px -51px;
            top: 70px;
        }
        .monocle-zoom-fit {
            background-position: -49px -69px;
            height: 17px;
            top: 98px;
        }

.monocle-image {
    cursor: move;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
}
.monocle-draggable {
    z-index: 999;
}